/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "rails_bootstrap_forms.css";


.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
  width: 240px;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 280px; /* 240 + 40 */
  }
}

.alert.alert-server {
  margin-bottom: 0;
  margin-right: 40px;
  border-radius: 0;
}

#floating-alert-box {
  position: fixed;
  z-index: 9999;
  margin: 20px;
}

// TODO: Allow the attachments usage somewhere we want them.
.trix-button-group--file-tools {
  display: none !important;
}


.card-link {
  display: block;
}
