<h3>Log In</h3>

<div>
<%= form_tag '/login' do %>
  Username: <%= text_field_tag :username %><br>
  Password: <%= password_field_tag :password %><br>
  <%= submit_tag "Log In" %>
<% end %>
</div>

<div class="alert alert-info">
<h4 class="alert-heading">Hint!</h4>
<!-- TODO: Move this into some kind of 'about' page with more explanation -->
<p>Some top secret credentials for testing:</p>
<ul>
<li>admin / admin</li>
<li>member / member</li>
<li>moderator / moderator</li>
<ul>
<div>
